<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Inicio - UTFDesign</title>
<link href="../css/Animaciones.css" rel="stylesheet"> 
<link href="../css/index.css" rel="stylesheet"> 
    <link
      href="https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap"
      rel="stylesheet"
    />
   
  </head>
  <body>
    <nav>
      <div class="nav-logo">
        <a href="/"><img src="../img/logo.png"/></a>
        <h1>diseño web Profesional</h1>
      </div>
      <div class="nav-links">
        <a>Home</a><a href="servicios">Servicios</a><a href="contacto">Contactanos</a> <a href="usuarios">Usuarios</a>
      </d>
    </nav>
    <section class="presentation">
      <div class="presentation-text animated tada ">
        <h2>Queres Digitalizar Tu Negocio ?</h2>
        <p>Dale Un Vistazo A Nuestra Propuesta !</p>
        <button>Pedi Tu Presupuesto</button>
      </div>
    </section>
    <section class="services">
      <div class="services-service animated fadeInDown">
        <span><img src="../img/iu.jpg"/></span>
        <h3>Diseno Web Profesional</h3>
        <p>
          si aún no tenés tu pagina web empresarial este es tu momento.
          Desarrollamos páginas web con un diseño de vanguardia, elegante y
          totalmente adaptable por la mejor empresa de diseño web
        </p>
      </div>
      <div class="services-service animated fadeInDown">
        <span><img src="../img/iu.jpg"/></span>
        <h3>Paginas Web adaptables</h3>
        <p>
          Hoy en día es muy común ingresar a la web con cualquier tipo de
          dispositivo, desde una TV, hasta un Smartphone. Por eso siempre hay
          que mantenerse actualizado con las paginas.
        </p>
      </div>
      <div class="services-service animated fadeInDown">
        <span><img src="../img/iu.jpg"/></span>
        <h3>Estadisticas En Tiempo Real</h3>
        <p>
      En los dias 
        </p>
      </div>
    
    </section>
    <section class="advantages">
      <h2>Como Podemos Ayudarte</h2>
      <div class="advantages-advantages">
        <div class="advantages-advantages-adventage">
          <div class="adventage-text">
            <h4>Date A Conocer</h4>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever since the 1500s, when an unknown printer took a galley
            </p>
          </div>
          <div class="adventage-img">
            <img src="../img/date_conocer.png" />
          </div>
        </div>
        <div class="advantages-advantages-adventage">
          <div class="adventage-text">
            <h4>Aumenta tus ventas</h4>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever since the 1500s, when an unknown printer took a galley
            </p>
          </div>
          <div class="adventage-img">
            <img src="../img/responsive.jpg" />
          </div>
        </div>
        <div class="advantages-advantages-adventage">
          <div class="adventage-text">
            <h4>Tene una ventaja competitiva</h4>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever since the 1500s, when an unknown printer took a galley
            </p>
          </div>
          <div class="adventage-img">
            <img src="../img/date_conocer.png" />
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
