<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Servicios - UTFDesign</title>
    <link
      href="https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap"
      rel="stylesheet"
    />

  <link href="../css/servicios.css" rel="stylesheet">
  </head>
  <body>
    <nav>
      <div class="nav-logo">
        <a href="/"><img src="../img/logo.png"/></a>
        <h1>diseño web Profesional</h1>
      </div>
      <div class="nav-links">
        <a href="/">Home</a><a>Servicios</a><a href="contacto">Contactanos</a> <a href="usuarios">Usuarios</a>
    </nav>
    <section class="presentation">
      <div class="presentation-text">
<h1>Servicios De Diseno y Aplicaciones web profesionales</h1>
<p>Sabemos Lo Que Hacemos</p>
      </div>
  </section>
  <h2> Nuestros Servicios</h2>
  <section class="advantages">
    <h2>Como Podemos Ayudarte</h2>
    <div class="advantages-advantages">
      <div class="advantages-advantages-adventage">
        <div class="adventage-text">
          <h4>Date A Conocer</h4>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley
          </p>
        </div>
        <div class="adventage-img">
          <img src="../img/date_conocer.png" />
        </div>
      </div>
      <div class="advantages-advantages-adventage">
        <div class="adventage-text">
          <h4>Aumenta tus ventas</h4>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley
          </p>
        </div>
        <div class="adventage-img">
          <img src="../img/responsive.jpg" />
        </div>
      </div>
      <div class="advantages-advantages-adventage">
        <div class="adventage-text">
          <h4>Tene una ventaja competitiva</h4>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley
          </p>
        </div>
        <div class="adventage-img">
          <img src="../img/date_conocer.png" />
        </div>
      </div>
    </div>
  </section>
      <section class="tecnologias">
<div class="columna">
  .
</div>
        
      </section>
  </body>
</html>
